.client__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .client__list {
    display: flex;
    align-items: center;
  }
  
  .client__item+.client__item {
    margin-left: 30px;
  }
  
  .client__link {
    display: block;
    align-items: center;
    width: 170px;
    height: 92px;
    background-color: var(--primary-bg-color);
    color: #AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right: 32px;
  
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
  &:hover {
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  &:focus {
    color: var(--accent-color);
    outline: 1px solid var(--accent-color);
    border: none;
  }
} 
  
  .client__icon {
    fill: currentColor;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }