.client {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;
}

.client__title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width:1200px){
  margin-bottom: 50px;
  font-size: 36px;
}
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 30px 30px;

  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px
  }
}


.client__link {
  
  display: flex;
  align-items: center; 
  justify-content: center;

  width: 210px;
  height: 92px;
  background-color: var(--primary-bg-color);
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

&:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
&:focus {
  color: var(--accent-color);
  outline: 1px solid var(--accent-color);
  border: none;
}
@media screen and (min-width: 768px) {
  width: 226px;
}
@media screen and (min-width: 1200px){
  width: 170px;
  padding: 16px 32px;
}
} 

.client__icon {
  fill: currentColor;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}