  .footer {
  
    background-color: var(--secondary-bg-color);
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
        }

    }
    
    .footer__container {
      @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      align-items: center;
     } 
  }
  
  
    .adress__link {
      color: #ffffff;
      background-color: var(--secondary-bg-color);
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
      text-decoration: none;
  
      transition-property: color;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      
      &:hover {
        color: var(--accent-color);
      }
      &:focus{
      color: var(--accent-color);
    }
    }
  
  .adress__link--rgbcolor {
    color: rgba(255, 255, 255, 0.6);
  }

  
  .adress__item {
    margin-bottom: 8px;
  }
  
  .adress__item--mobile {
    margin-bottom: 0px;
  }
  
  
  .footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;  
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin: auto auto;
    margin-top: 60px;
    margin-bottom: 20px;
    @media screen and (min-width:768px) {
      margin-top: 0;
      }
  }

  .footer__join {
    @media screen and (min-width: 768px) {
      display: inline-block;
      margin-top: 0;
      margin-left: 165px;
    }
  }

  .footer__title-mail {
    
    margin: 0 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-bg-color);
    margin-top: 60px;
    margin-bottom: 20px;

  }
  
  
  .footer__mail {
    width: 450px;
    height: 50px;
    border: none;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.0);
    margin-right: 12px;
    padding: 15px 16px;
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    justify-content: center;
    color: var(--primary-bg-color);
    margin-bottom: 20px;
    &::placeholder {
      color: rgba(255, 255, 255, 0.6);
    }
    &:focus {
      outline: 1px solid rgba(255, 255, 255, 0.3)
    }
    @media screen and (min-width: 1200px) {
      margin-left: 93px;
      margin-bottom: 0px;
    }

  }
  
  .footer__form {

  }

  
  .footer__button {
   display: inline-flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    border: none;
    color: var(--primary-bg-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 28px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 28px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    &:hover,
  &:focus {
    background-color: #188CE8;
  }
  }
  
  .footer__icon {
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
  }


