.logo {
    color: #000000;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-decoration: none;
    
  }
  
  .logo__footer {
    display: inline-block;
    margin-bottom: 20px;
  }
  
  .logo--accent {
    color: var(--accent-color);
  }
  
  .logo--white {
    color: var(--primary-bg-color);
  }
  