.social {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social .social__item+.social__item {
  margin-left: 10px;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg-color);
  color: #AFB1B8;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }
  &:focus {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
    outline: 1px var(--accent-color);
  }
}

.social__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__svg {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.social__link--dark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  justify-content: center;
  color: var(--primary-bg-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 0;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--accent-color);
    color: var(--primary-bg-color);
  }
}


