:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #2f303a;
    --secondary-section-color: #F5F4FA;

  
    --letter-space-min: 0.01em;
    --letter-space-medium: 0.03em;
    --letter-space-large: 0.06em;
    --medium-font-weight: 500;
    --bold-font-weight: 700;
    --boldest-font-weight: 900;
    --main-font: 'Roboto', sans-serif;
    --second-font: 'Raleway', sans-serif;
  }
  

  